*.pyc
*.DS_Store
*.sqlite3
*.egg-info
_store/*
.env
.envrc
.venv/
nomenklatura/static/vendor/*
nomenklatura/static/assets/*
nomenklatura/static/.webassets-cache/*
.vagrant/*
vagrant_settings.py
.idea/
dist/
build/
