[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
flake8-html = "*"
isort = "*"

[packages]
apikit = "*"
celery = "*"
certifi = "*"
cssmin = "*"
gunicorn = "*"
normality = "*"
nose = "*"
psycopg2-binary = "*"
python-Levenshtein = "*"
pytz = "*"
redis = "*"
requests = "*"
sentry-sdk = "*"
tablib = "*"
webassets = "*"
Flask = "*"
Flask-Assets = "*"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
FormEncode = "*"
SQLAlchemy = "*"
Unidecode = "*"
# authlib = "*"
flask-oauthlib = "*"
requests-oauthlib="<1.2.0"
Werkzeug="<1.0"

[requires]
python_version = "3.8"
